{% extends 'base.html' %}

{% block content %}

<div class="d-flex" id="wrapper">
 
  <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-light">Hamon HRMS</div>
      <div class="list-group list-group-flush">
      </div>
  </div>
  
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1 class="mt-4 text-center">About Hamon HRMS</h1>
      <p style="font-size: 18px; line-height: 1.6;">
        Welcome to Hamon HRMS, your all-in-one solution for managing people at work. 
      </p>
      <p style="font-size: 18px; line-height: 1.6;">
        <strong>Our Mission:</strong> To make HR tasks simpler and better for all types of businesses, so everyone can work together more efficiently.
      </p>
      <p style="font-size: 18px; line-height: 1.6;">
        <strong>Key Features:</strong>
      </p>
      <ul style="font-size: 18px; line-height: 1.6;">
        <li>User-Friendly Interface: Easily use our software, making it simple </li>
        <li>Leave Management: Quickly request and keep track</li>
        <li>Employee Details: Access detailed info about each employee for a complete view of their history and information.</li>
      </ul>
      <p style="font-size: 18px; line-height: 1.6;">
        <strong>Our Team:</strong> Hamon HRMS is powered by a team of professionals dedicated to making HR better. Led by HR Manager Sulaim Zaed, our team combines skills in software development, HR, and user experience design.
      </p>
      <p style="font-size: 18px; line-height: 1.6;">
        <b>HR Contact:</b>8590046766
      </p>
    </div>
  </div>
  
</div>

{% endblock %}
