{% extends 'base.html' %}

{% block content %}

<div class="d-flex" id="wrapper">
 
  <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-light">Hamon HRMS</div>
      <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('employees')}}">Employees</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('search_employee')}}">Search</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3 disable" href="{{ url_for('about')}}">About</a>
      </div>
  </div>
  
  <div id="page-content-wrapper">
    <div class="container-fluid">
      <h1 class="mt-4 text-center" style="font-family: 'Arial', sans-serif; color: #333;">About Hamon HRMS</h1>
      <p style="font-size: 18px; text-align: justify; line-height: 1.6;">
        Welcome to Hamon HRMS, your comprehensive solution for Human Resource Management. We understand the vital role HR plays in the success of your organization, and our software is crafted to streamline processes and elevate the HR experience.
      </p>
      <p style="font-size: 18px; text-align: justify; line-height: 1.6;">
        <strong>Our Mission:</strong> To simplify and enhance HR operations for businesses of all sizes, fostering efficiency and collaboration.
      </p>
      <p style="font-size: 18px; text-align: justify; line-height: 1.6;">
        <strong>Key Features:</strong>
      </p>
      <ul style="font-size: 18px; line-height: 1.6;">
        <li>User-Friendly Interface: Navigate our software with ease, ensuring a smooth experience for both employees and administrators.</li>
        <li>Leave Management: Seamlessly submit and track leave requests, creating an organized process for time-off management.</li>
        <li>Employee Details: Access comprehensive employee profiles for a complete view of their information and leave history.</li>
      </ul>
      <p style="font-size: 18px; text-align: justify; line-height: 1.6;">
        <strong>Our Team:</strong> Hamon HRMS is driven by a dedicated team of professionals committed to innovation and excellence. Led by HR Manager Sulaim Zaed, our team combines expertise in software development, HR, and user experience design.
      </p>
      <p style="font-size: 18px; text-align: justify; line-height: 1.6;">
        Experience the power of streamlined HR operations with Hamon HRMS
      </p>
    </div>
  </div>
</div>

{% endblock %}
