{%extends "base.html" %}

{%block content%}
<div class="d-flex" id="wrapper">
     
     <div class="border-end bg-white" id="sidebar-wrapper">
         <div class="sidebar-heading border-bottom bg-light">Employees</div>
         <div class="list-group list-group-flush">
          {%for i in users%}
             <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{url_for('employee_details',id=i.id)}}">{{i.fname}}</a>
            
             
             {%endfor%}  
         </div>
     </div>
     
     <div id="page-content-wrapper">
         
   
         
         <div class="container-fluid">
    
             
             
         </div>
     </div>
   </div>

...





{%endblock%}