{%extends "base.html" %}

{%block content%}

<div class="d-flex" id="wrapper">
  
  <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-light">Employees</div>
      <div class="list-group list-group-flush">
       {%for user in users%}
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{url_for('employee_details',id=user.id)}}">{{user.fname}}</a>
         
          
          {%endfor%}  
      </div>
  </div>
  
  <div id="page-content-wrapper">
      

      
      <div class="container-fluid">


    {% with messages = get_flashed_messages()%}
    {%if messages%}
    <div class="flashes">
    <h6 style="text-align:center;color: brown;">{{messages[0]}}</h6>
    </div>
    {%endif%}

     {%endwith%}
  <div class="card">
    <div class="card-body">
      <h4 class="card-title">Employee details</h4>
      <p class="card-text">ID:{{user.id}}</p>
      <p class="card-text">FIRST NAME:{{user.fname}}</p>
      <p class="card-text">LAST NAME:{{user.lname}}</p>
      <p class="card-text">EMAIL:{{user.email}}</p>
      <p class="card-text">DESIGNATIONL:{{user.title.title}}</p>
      <p class="card-text">PHONE :{{user.phone}}</p>
      <p class="card-text">Leave taken :{{leave}}</p>
      <p class="card-text">Maximum leave :{{user.title.max_leaves}}</p>
      <p class="card-text">Leave remaining :{{user.title.max_leaves - leave}}</p>


      <a href="{{url_for('employee_details',id=(user.id) -1)}}" class="card-link">previous</a>
      <a href="{{url_for('employee_details',id=(user.id) +1)}}" class="card-link">next</a>
      <a href="{{url_for('add_leave',id=user.id)}}" class="card-link">Add leave</a>
    </div>
  </div>
          
          
      </div>
  </div>
</div>





{%endblock%}