

{%extends 'base.html'%}

{%block content%}

 

<div class="d-flex" id="wrapper">
  <!-- Sidebar-->
  <div class="border-end bg-white" id="sidebar-wrapper">
      <div class="sidebar-heading border-bottom bg-light">Hamon HRMS</div>
      <div class="list-group list-group-flush">
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('employees')}}">Employees</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3 disable" href="{{ url_for('search_employee')}}">Search</a>
          <a class="list-group-item list-group-item-action list-group-item-light p-3" href="{{ url_for('about')}}">About</a>

          
         
      </div>
  </div>
  
  <div id="page-content-wrapper">
    {% with messages = get_flashed_messages()%}
    {%if messages%}
    <div class="flashes">
    <h6 style="text-align:center;">{{messages[0]}}</h6>
   </div>

    {%endif%}

    {%endwith%}
      

      
      <div class="container-fluid">
        <div class="card">
            <div class="card-body">
                <h1 class="mt-4 text-center">Search Employees by ID</h1>

        <form method="POST" action="{{ url_for('search_employee') }}" class="mt-4">
            <label for="employee_id" class="form-label">Employee ID:</label>
            <input type="text" id="employee_id" name="employee_id" class="form-control" required>
            <button type="submit" class="btn btn-primary mt-3">Search</button>
        </form>

            </div>
        </div>
          
          
      </div>
  </div>
</div>
{%endblock%}
